<h3>Sign In</h3>
<form action="/login" method="POST">
    <label for="username"><b>Username</b></label>
    <input type = "text" id = "username" name="username" placeholder="username">
    <label for="password"><b>Password</b></label>
    <input type = "password" id = "password" name="password" placeholder="password">
    <input type="submit" value="Login" class="btn"></input>
</form>