<header class="header">
  <a href="/" class="header_logo">Admin</a>
    <a href="/register" class="header_button" style="margin-top:-1px; font-size:20px; font-weight:bold">
      Register
    </a>
</header>
