<main>
  <section>
    <h2>About</h2>
    <p>I am a full-stack developer from India...</p>
  </section>

  <section>
    <h2>Projects</h2>
    <ul>
      <li>Apple Clone Website</li>
      <li>Blog Post CMS</li>
    </ul>
  </section>
</main>